/*** 

====================================================================
	Gallery Section
====================================================================

***/

.gallery-section {
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-bottom: 10px;
    .large-container{
        max-width: 100%;
    }
    .carousel-outer{
        position: relative;
        padding-left: 480px;
        @include for-xxl{
            padding-left: 350px;
        }
        @include for-xl{
            padding-left: 0;
        }
    }
    .title-box{
        position: absolute;
        left: -4px;
        top: 0;
        height: 100%;
        width: 475px;
        background-color: var(--bg-theme-color3);
        padding: 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-xxl{
            width: 345px;
        }
        @include for-xl{
            position: relative;
            left: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            br{display: none;}
        }
        &:before{
            @include overlay;
            @include background;
            background-image: url(../images/icons/shape-7.png);
            content: "";
        }
        .inner{
            position: relative;
        }
        .sub-title{
            color: #ffffff;
            width: 100%;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        .title{
            color: #ffffff;
            @include for-sm{
                font-size: 32px;
            }
        }
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    img {
        display: inline-block;
        max-width: 100%;
        width: auto;
        height: auto;
        transition: all 0.3s ease;
    }
    a {
        position: relative;
        display: block;
        &:after,
        &:before {
            @include overlay;
            content: "";
            z-index: 1;
            transition: all 300ms ease;
            transform: scale(.7);
            opacity: 0;
            visibility: hidden;
            @include flex-center;
            font-family: 'linearicons-free';
            color: #ffffff;
            font-size: 42px;
            content: "\e051";
        }
        &:after{
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 10px;
            height: auto;
            width: auto;
            background: var(--bg-theme-color2);
        }

        &:hover{
            &:after,
            &:before {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }
            &:after{
                opacity: .9;
            }
        }
    }

    &:hover img {
        opacity: 1;
        transform: scale(1.1);
        border-radius: 10px;
    }
}

.gallery-carousel .owl-nav,
.gallery-carousel .owl-dots {
    display: none;
}
