/*** 

====================================================================
    News Section
====================================================================

***/

.news-section {
    position: relative;
    padding: 120px 0 70px;
    overflow: hidden;
}

.news-block {
    position: relative;
    margin-bottom: 50px;

    .inner-box {
        position: relative;
        transition: all 300ms ease;
        &:hover {
            .read-more{
                background-color: var(--bg-theme-color1);
                color: #ffffff;
            }
            .image-box .image {
                a:after {
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transition: all 400ms linear;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .image-box {
        position: relative;

        .image {
            position: relative;
            overflow: hidden;
            margin-bottom: 0;

            img {
                display: block;
                width: 100%;
                transition: all 400ms ease;
            }

            a:after {
                background: rgba(255, 255, 255, .3);
                bottom: 0;
                content: "";
                left: 50%;
                position: absolute;
                right: 51%;
                top: 0;
                opacity: 1;
                pointer-events: none;
                transition: all 400ms linear;
            }
        }

        .date {
            position: absolute;
            right: 35px;
            bottom: 55px;
            color: #ffffff;
            z-index: 1;
            height: 76px;
            width: 70px;
            text-align: center;
            background: var(--theme-color1);
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 800;
            border-radius: 10px;
            font-family: var(--title-font);
            padding: 10px 10px;
            z-index: 9;
            .month{
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: var(--bg-theme-color2);
                width: 100%;
                font-size: 12px;
                line-height: 30px;
                font-weight: 500;
            }
            @include for-xxs{
                right: 20px;
                bottom: 20px;
            }
        }
    }

    .lower-content {
        position: relative;
        margin-top: -85px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px 30px 20px;
        padding-right: 35px;
        z-index: 2;
        border-radius: 7px;
        background-color: #ffffff;
        box-shadow: 0 10px 60px rgba(0,0,0, .05);
        @include for-xxs {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    }

    .post-info {
        position: relative;
        display: flex;
        li {
            position: relative;
            font-size: 13px;
            line-height: 25px;
            font-weight: 400;
            font-family: var(--title-font);
            margin-right: 10px;
            i {
                margin-right: 3px;
                color: var(--theme-color3);
                font-size: 12px;
            }
        }
    }

    .title {
        line-height: 1.2em;
        font-weight: 800;
        padding-bottom: 17px;
        margin-bottom: 10px;
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 60px;
            height: 3px;
            background: linear-gradient(to right, var(--bg-theme-color2), transparent);
            content: "";
        }
        &:hover {
            color: var(--theme-color1);
        }
    }
}