//Root for dark
:root {
  --dark-color1: #171717;
  --dark-color2: #222020;
  --dark-color3: #2b242b;
}


//dark color1
body,
.header-style-two .header-top,
.sticky-header,
.team-block .info-box,
.project-block-two .content-box .cat,
.news-block .content-box .post-info,
.about-section-four .image-column .exp-box:before,
.blockquote-style-one,
.feature-block .icon,
.clients-carousel .owl-nav .owl-prev,
.clients-carousel .owl-nav .owl-next,
.country-block-two .inner-box,
.banner-section-two .bottom-box .content .inner:before,
.accordion-box .block,
.page-wrapper {
  background-color: var(--dark-color1);
}
a{
	color: inherit;
}
//dark color 2
.country-block .theme-btn,
.clients-carousel .owl-nav,
.service-block .content-box,
.testimonial-block .content-box,
.feature-block .inner-box,
.testimonial-section .owl-dots .owl-dot,
.news-block .lower-content,
.about-section-two .exp-box,
.service-block-two .lower-content,
.countries-section-two .outer-box,
.process-block .info-box .inner,
.process-block .icon-box,
.training-block-two .inner-box,
.training-block-two .overlay-content .inner,
.training-section-two .owl-dots .owl-dot,
.feature-block-three .inner-box,
.training-block .inner-box{
  background-color: var(--dark-color2);
}
.about-section-three .image-column .image-2{
	border: 10px solid var(--dark-color1);
}
.process-block .info-box:before{
	border-bottom: 10px solid var(--dark-color2);
}
.testimonial-block .content-box:before{
	border-top: 30px solid var(--dark-color2);
}
.feature-block .inner-box:hover .icon{
	background-color: var(--dark-color3);
}
.team-block .info-box:before{
	background: linear-gradient(to top, var(--dark-color2), transparent);
}
.team-block .image-box .image{
	background: linear-gradient(to top, transparent, var(--dark-color2), var(--dark-color2));
}
.team-block .image-box .image:before{
	background: linear-gradient(to top, var(--dark-color2), var(--dark-color2), var(--theme-color1));
}
.feature-block .inner-box .image-box .image::before{
	background: linear-gradient(to top, var(--dark-color2), transparent);
}
.testimonial-block-two .inner-box:hover .content-box{
	background-color: var(--dark-color3);
}
.list-style-two li{
  color: #74707c;
}
.features-section .tabs-column .tab-btns .tab-btn.active-btn:before{
	background-color: var(--dark-color2);
}
.clients-section .outer-box{
	border-top: 1px solid var(--dark-color2);
}
.about-section .content-column .info-box{
	border-bottom: 1px solid var(--dark-color2);
}
.about-section .content-column .other-info .list-style-two{
	border-left: 1px solid var(--dark-color2);
}
.quote-section .content-column .other-info{
	border-top: 1px solid var(--dark-color1);	
}
.counter-block .inner:before{
	border-right: 1px solid var(--dark-color1);
}
.feature-block .inner-box .content-box .icon-box{
	border:12px solid var(--dark-color2);
}
.why-choose-us .outer-box .float-image:before{
	border:10px solid var(--dark-color2);
}
.header-style-two .main-box .outer-box .info-btn .icon{
	padding-right: 20px;
}
.about-section-five .content-column .inner-column{
	padding: 50px;
}
.about-section .image-column .image-2{
	border:10px solid var(--dark-color1);
}
.about-section-five .image-column .image-2,
.about-section-two .image-column .image-2{
	border:20px solid var(--dark-color2);
}
.features-section .tabs-column .tab-btns .tab-btn.active-btn:after{
	border-left:20px solid var(--dark-color2);
}
.testimonial-block-two .content-box:before{
	border-top:20px solid #222020;
}
.project-section-two .project-block .content-box{
	border-bottom-color: var(--dark-color2);
}
.client-block{
	border-right: 1px solid var(--dark-color1);
}

.pricing-block.style-two .inner-box {
  background-color: var(--dark-color3);
}

// black color
.btn-style-three,
.work-tabs .tab-buttons .tab-btn{
  background-color: #000;
}


.about-section-six .image-column .image-box:before{
  background-color: var(--bg-theme-color2);
}

.blockquote-one {
	background-color: #323232;
}

.about-section .content-column .info-btn i {
	background-color: #282a2e;
}

.about-section-two .content-column .inner-column .list-style-two li {
	color: #6a6a6a,
}
.service-block .content-box .read-more,
.about-section-two .exp-box .count,
.about-section-two .info-btn strong,
.about-section .content-column .author-info .name {
  color: #fff;
}
.about-section .content-column .author-info .designation,
.about-section .content-column .info-box:hover .title{
	color: #bdbdbd;
}

//border dark color 1
.service-block .inner-box {
  border-color: var(--dark-color1);
}
.accordion-box.style-two .block{
	border-color: var(--dark-color3);	
}
//border dark color 2
//border color
.fun-fact-section .title-column .inner-column{
 border-color: rgba(70, 70, 70, 0.3);
}
.team-block .image-box .social-links:before{
	border-bottom: 5px solid var(--dark-color2);
}
.work-block .icon-box:before{
 border-right: 10px solid #464548;
 border-bottom: 10px solid #464548;
}
.pricing-block.style-two .price-box{
  border-color: rgba(255, 255, 255, 0.2);
}

.news-block .content-box {
  border-color: #292738;
}

.default-tabs .tab-buttons li.active-btn,
.service-block-two .inner-box{
  border-color: #181616;
}

.service-block-two .inner-box .hover-content .icon,
.about-section-two .content-column .float-text{
  color: #3a3a3a,
}

.blockquote-one {
	color: #8d8d8d,
}

//text color
.sticky-header .main-menu .navigation > li > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a,
h6,
strong,
.title a,
.testimonial-block .info-box .name,
.default-navs .owl-next, .default-navs .owl-prev,
.header-style-two .main-box .main-menu .navigation > li > a,
.team-block .info-box .name,
.accordion-box .block .acc-btn .icon,
.feature-block-three .title,
.sortable-masonry .filter-tabs .filter.active,
.about-us-tabs .tab-btns .tab-btn.active-btn,
.skills .skill-item .skill-header .skill-title,
.blockquote-style-one,
.accordion-box .block .acc-btn,
.sec-title h2 {
  color: #fff;
}
.training-section-two .owl-dots:before,
.testimonial-section .owl-dots:before{
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(#505050), to(transparent));
  background: linear-gradient(to left, transparent, #505050, transparent);
}
.process-block .icon-box .icon::after{
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(var(--dark-color1)), to(transparent));
  background: linear-gradient(to left, transparent, var(--dark-color1), transparent);
}
.about-section .experience,
.clients-carousel,
.country-block-two .inner-box,
.process-block .icon-box,
.feature-block .inner-box {
  border-color: #505050;
}

.feature-block-three .bg-icon{
	color: rgba(80, 80, 80, .1);
}
.team-block .image-box .image::before{
	border:2px solid #505050;
}

.feature-block .content {
	border-color: #404040;
}
.about-block:hover .icon,
.counter-block .counter-title{
  color: #a8adb3;
}

.news-block .content-box .read-more, {
	border-color: #404040;
}

.call-to-action{
	border-color: #383838;

}

.pie-graph {
	border-color: #404040;
}
// Text Stroke
.feature-block .count{
	-webkit-text-stroke-color: #fff;
}
.counter-block-two .count-box{
	-webkit-text-stroke-color: var(--bg-theme-color2);
}
.counter-block-two .inner:hover .count-text{
	color: var(--bg-theme-color2);
}
//body color 
.header-style-two{
  background-color: unset;
}

//bg image

.counter-block .inner{
  background-image: unset;
}

.banner-section-two .bottom-box:before,
.contact-section:before {
  opacity: .1;
}

.clients-carousel {
	.slide-item {
		img {
			filter: invert(1);
		}
	}
}
.clients-section {
	.slide-item {
		a {
			&:hover {
				background-color: inherit;
			}
		}
	}
}
.about-section .image-column .image-box .icon-shpaes{
	background-image: url(../images/icons/shapes-dark.png);
}
.bg-pattern-1{
	background-image: url(../images/icons/pattern-1-dark.png);
}
.bg-pattern-2{
	background-image: url(../images/icons/pattern-2-dark.jpg);
}
.bg-pattern-3{
	background-image: url(../images/icons/pattern-3-dark.jpg);
}
.bg-pattern-5{
	background-image: url(../images/icons/pattern-5-dark.png);
}
.bg-pattern-6{
	background-image: url(../images/icons/pattern-6-dark.jpg);
}
.contact-section .form-column .form-outer:before{
	background-image: url(../images/icons/lines-dark.png);
}
.bg-pattern-8{
	background-image: url(../images/icons/pattern-8-dark.jpg);
}
.bg-pattern-9{
	background-image: url(../images/icons/pattern-9-dark.jpg);
}
.contact-form {
	.form-group {
		textarea {
			background-color: #0a090f;
		}
		input {
			&:not([type=submit]) {
				background-color: #0a090f;
			}
		}
	}
}

.client-block.dark-style img{
  display: inline-block !important;
  width: auto !important;
  transition: all 0.3s ease;
  background: unset;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  opacity: 0.4;	
}
.team-block .inner-box:after{
	display: none;
}