//Root 


$theme-color: #ab65d4;

:root {

  //theme color
  --theme-color1: #0d1a36;
  --theme-color2: #015cb5;
  --theme-color3: #fa8714;
  --theme-color4: #ebeef5;

  --bg-theme-color1: var(--theme-color1);
  --bg-theme-color2: var(--theme-color2);
  --bg-theme-color3: var(--theme-color3);
  --bg-theme-color4: var(--theme-color4);
  
  --border-theme-color1: var(--theme-color1);
  --border-theme-color2: var(--theme-color2);
  --border-theme-color3: var(--theme-color3);
  --border-theme-color4: var(--theme-color4);

  --text-color-bg-theme-color1: #fff;
  --text-color-bg-theme-color2: #fff;
  --text-color-bg-theme-color3: #fff;
  --text-color-bg-theme-color4: #fff;

  //text heading color
  --text-color:         #6a6f78;
  --headings-color:     var(--theme-color1);
  --link-color:         var(--theme-color1);
  --link-hover-color:   var(--theme-color1);

  //font family
  --text-font: 'Manrope', sans-serif;
  --title-font: 'Manrope', sans-serif;

  //body
  --body-font-size:   15px;
  --body-line-height: 30px;
  --body-font-weight: 500;

  //heading font size + weight
  --line-height-heading-h1: 1em;
  --line-height-heading: 1.2em;
  --line-height-heading-small: 1.4em;

  --h1-font-size: 90px;
  --h2-font-size: 46px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;

  --h1-font-weight: 800;
  --h2-font-weight: 800;
  --h3-font-weight: 800;
  --h4-font-weight: 800;
  --h5-font-weight: 800;
  --h6-font-weight: 800;

  //section sub title
  --sec-title-subtitle-color: var(--text-color);
  --sec-title-subtitle-font-size: 14px;
  --sec-title-subtitle-font-family: var(--title-font);
  --sec-title-subtitle-font-weight: 500;
  --sec-title-subtitle-line-height: 20px;

  //section title
  --sec-title-color:                 var(--theme-color1);
  --sec-title-font-size:             var(--h2-font-size);
  --sec-title-font-family:           var(--title-font);
  --sec-title-font-weight:           var(--h2-font-weight);

  //news details page
  --theme-light-background: #f6f6f6;
  --theme-light-background-text-color: var(--headings-color);
  --theme-black:        #0b0b0b;


  //container
  --container-width: 1200px;
  --small-container-width: 1000px;
  --large-container-width: 1550px;
  --container-pt:    120px;
  --container-pb:    120px;
}
